body, html {
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #191970;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #C0C0C0;
  }


.heading {
    text-align: center;
    font-size: 50px;
    margin-left: 20%;
    width: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: indigo;
    position: fixed;    
    top: 0;
}

  .container, h1 {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    margin-top: 100px;
    
  }

  .column1 {
    justify-content: center;
    align-content: center;
    width: 60%; 
   display: inline-table;
   float: left;
  }

  .column2{
    justify-content: center;
    align-content: center;
    width: 35%; 
   display: inline-table;
  }

  .button1 {
    background-color: #008CBA;
    float: left;
    margin-top: 30px;
} 

.button2 {
  background-color: #008CBA;
  float: center;
  margin-top: 30px;
} 

.button3 {
  background-color: #008CBA;
  float: center;
  margin-top: 30px;
} 

.button4 {
  background-color: red;
  float: center;
  margin-top: 30px;
} 


.input-field {
  padding: 10px;
  margin:10px 0; 
  border: 2px solid #eee;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  width:75%;
}

textarea {
  width:50%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  
} 

.rclub {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid #008CBA;
  border-radius:100px;
  padding: 10px;
  margin: 10px;
  line-height: .2;
}

.rclub p {
  font-family: impact;
  font-size: xx-large;
}

a:link {
  text-decoration: none;
  flood-color: #008CBA;
}

.soloclub {
  background-color: lightgrey;
  width: 500px;
  border: 15px solid #008CBA;
  border-radius:100px;
  padding: 10px;
  margin: 10px;
  line-height: .7;
  margin-left: 150px;
}

.soloclub p {
  font-family: impact;
  font-size: xx-large;
}

.comments {
  width: 500px;
  background-color: indigo;
  text-align: center;
  margin-left: 175px;
  color: powderblue;
  padding: 10px;
}